:root {
    --border: 4px solid;
}


body {
  font-family: Roboto, sans-serif;
  background-color: #F0F0F0;
  margin : 0px;
}


main {
    margin-left: 1em;
    padding-top: 3em;
}

div.page-content {
    position: relative;
    padding-top: 1em;
}


form :not(div) {
    margin-top: 5px;
}

form div.dragdrop {
    border: 3px dashed transparent;
    border-radius: 10px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form div.dragdrop.hover {
     border-color: #ccc;
}

.post textarea {
    width: 100%;
    width: -moz-available;          /* For Mozilla */
    width: -webkit-fill-available;  /* For Chrome */
    width: stretch;                 /* Unprefixed */
}


.post .user {
    font-weight: bold;
}


.post .date {
    color: #999;
    font-size: small;
}


.post .post-image {
    min-height: 150px;
    max-height: 700px;
    width: 100%;
}


.post .likes {
    font-size: small;
    display: flex;
    align-items: center;
}

.post {
    max-width: 600px;
    min-width: 250px;
    height: auto;
    padding: 10px;
    margin-bottom:15px;
    background-color: white;
}

form.post {
    width: 100%;
}


button {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 11pt;
    color: black;
    border: none;
    padding: 7px;
}

button.primary {
    background-color: #cfcfcf;
    border-radius: 5px;
}


button.primary:hover:enabled {
    background-color: #d7d7d7;
}


button.primary:disabled {
    color: grey;
}


button.small {
    text-transform: none;
    padding: 5px;
}


button.secondary {
    color: #333;
    background-color: transparent;
}


button.secondary:hover {
    color: #555;
    text-decoration: underline;
}


.post .like-button, .post .dislike-button {
    margin: 5px;
    width: 25px;
}


.post .like-button {
    content: url('/static/empty-heart.png');
}


.post .dislike-button {
    content: url('/static/filled-heart.png');
}


.shadowed, button.primary, .post, .login-form {
    --light-shadow: rgba(0, 0, 0, .15);
    box-shadow: 0px 6px 10px var(--light-shadow);
}


.shadowed:hover, button.primary:hover:enabled, .post:hover, .login-form:hover {
    --dark-shadow: rgba(0, 0, 0, .25);
    box-shadow: 0px 6px 10px var(--dark-shadow);
}


div.login-page {
    position: absolute;
    height: 100%;
    width: 100%;
}

div.login-page main {
    position:absolute;
    left:0%;
    margin-left: 2em;
    padding: 0;
    width:40%;
}

.login-form {
    position: fixed;
    right:0%;

    min-width: 200px;
    max-width: 800px;
    height: 100%;

    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    word-break: break-all;

    background-color: white;
}


.login-form span.url {
    color: inherit;
    font-weight: bold;
}


.login-form button {
    width: auto;
}


.login-form span.error-message {
    color: red;
}


.login-form span.url {
    margin-top: 0px;
}


a.nav-link {
    color: black;
    text-decoration: none;
    padding:10px;

    padding-top: .75em;
    padding-bottom: .75em;
    margin-right: .5em;
    margin-left: .5em;
    border-bottom: var(--border) transparent;
}

a.nav-link:hover {
    border-bottom: var(--border) black;
}

.current {
    font-weight: bold;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;

    background-color: white;
}


div.events-side-pane {
    position: fixed;
    left: 0%;
    width: 12em;
    height: 100%;

    padding-top: 1em;

    background-color: white;

    display: flex;
    flex-direction: column;

}

div.events-side-pane > * {
    position:relative;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 1rem;
    padding-right: 1rem;
}

div.events-side-pane > .event {
    border-right: var(--border) transparent;
}

div.events-side-pane > .event:hover {
    border-right: var(--border) black;
}

div.events-side-pane > .title {
    font-size: 1.5em;
    font-weight: bold;
}

div.feed {
    margin-top: 1em;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
